body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}
#banner{
    height: auto;
    width: 1000px;
}
#footer {
    background: #000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #fff;
    clear: left;
    line-height: 60px ;
}
#main2 {
    margin-top: 10px;
}
#menu_top2 {
    background: #141414;
    height: 50px;
}
#menu_top2 ul.root {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}

#menu_top2 ul.root > li {
    list-style: none;
    float: left;
    position:relative ;
    height: 50px;
}

#menu_top2 ul.root > li > a {
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #ccc;
}
#menu_top2 ul.root > li > a:hover {
    background: grey;
    color: greenyellow;
}
#menu_top2 ul.root > li:hover ul.submenu {
    opacity: 1;
}
#menu_top2 ul.root > li:hover ul.submenu >li >a:hover {
    background: grey;
    color: greenyellow;
}

#menu_top2 ul li a.active {
    background: #d2f02b;
}

#menu_top2 ul.root > li ul.submenu {
    margin: 0px;
    padding: 0px;
    width: 200px;
    display: block;
    list-style-type: none;
    background: #f0a52b;
    position: absolute;
    top:50px ;
    left:20px;
    opacity: 0;
}

#menu_top2 ul.root > li ul.submenu li a {
    display:  block;
    line-height: 50px;
    text-decoration:none ;
    color: #fff;
    text-indent: 20px;
    border-bottom: 1px solid #ccc;
}
#footer {
    background: #000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #fff;
    clear: left;
    line-height: 60px ;
}

#menu_top2 ul.root > li.search{
    float:right;
    width:192px;
    height:30px;
    margin-top:5px;
    background:#fff;
    margin-right:30px;
    border-radius:13px;
}
#menu_top2 ul.root > li.search input{
    font-weight: bold;
    background:none;
    margin-left:7px;
    margin-top:5px;
    color:#141414;
    border:none;
    display: block;
    float:left;
    width: 85%;
    /* border:1px solid red; */
}
#menu_top2 ul.root > li.search input:focus{
    outline: none;
}
#menu_top2 ul.root > li.search span{
    color:white;
    font-size:1.1rem;
    display:block;
    float:left;
    margin-top:4px;
}